@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

// #region general

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #f6f6f6;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

// #region utilities 
.bg_opacity {
    background-color: rgb(255 255 255 / 37%);
}

.bg_header {
    background-color: rgb(0 0 0 / 73%);
}

// #endregion utilities 

// #endregion general

// #region jumbo

//   #endregion jumbo

.my_projects_title {
    font-weight: 700;
}

.photo {
    aspect-ratio: 1;
    width: 25%;

}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.code_text {
    font-size: 2.2rem;
}

.first_line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(40) 0s 1 normal both;
}

.second_line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(40) 2s 1 normal both;
}

.third_line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(40) 4s 1 normal both;
}

.fourth_line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(40) 6s 1 normal both;
}

.fifth_line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(40) 8s 1 normal both;
}

.sixth_line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(40) 10s 1 normal both;
}

.project_body {
    max-width: 100%;
}

.line {
    position: relative;
    height: 25px;
    width: 0;
    animation: flight 10s linear forwards;
}

.line::before {
    content: "";
    position: absolute;
    top: 68%;
    left: 0;
    right: 0;
    border-top: 1px dashed black;
    transform: translateY(-50%);
}

@keyframes flight {
    0% {
        width: 0%;
    }

    100% {
        width: 100%
    }
}

.tech:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-img-top {
    object-fit: cover;
}

.avatar {
    overflow-y: clip;
    position: relative;
    padding-right: 4rem;
    border: 5px solid white;

    img {

        animation: wobble 2s ease 0s 1 normal forwards;
        position: relative;
        left: -10%;
        bottom: -5%
    }

}

.avatar_404 {
    border: 5px solid white;
    overflow-y: clip;
    position: relative;
    padding-right: 4rem;

    img {
        position: relative;
        left: 0%;
        bottom: -10%
    }
}

.project_card:hover {
    transform: scale(1.05);
}


// #region mystory_animations

@keyframes bornEntrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-200px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes studyEntrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-200px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes liveEntrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-200px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }


    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes wobble {

    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


// #endregion mystory_animations


// #region privacy 

// #endregion privacy 

.tech_text {
    font-size: 14px;
}

.tech_icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

@media screen and (min-width: 992px) {
    .tech_icon {
        width: 40%;
        height: 40%;
    }
}

.story_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quote {
    font-weight: 500;
}