@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

// #region general

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 216, 155);
    background: linear-gradient(90deg, rgba(255, 216, 155, 1) 9%, rgba(25, 84, 123, 1) 100%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

// #region utilities 
.bg_opacity {
    background-color: rgb(255 255 255 / 37%);
}

.bg_header {
    background-color: rgb(0 0 0 / 73%);
}

// #endregion utilities 

// #endregion general


.line {
    position: relative;
    height: 25px;
    width: 0;
    animation: flight 10s linear forwards;
}

.line::before {
    content: "";
    position: absolute;
    top: 68%;
    left: 0;
    right: 0;
    border-top: 1px dashed black;
    transform: translateY(-50%);
}

@keyframes flight {
    0% {
        width: 0%;
    }

    100% {
        width: 100%
    }
}


.study {
    position: relative;
    left: 20%;
    width: 80%;
}


.live {
    position: relative;
    left: 49%;
    width: 20%;
}