@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

// #region general

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 216, 155);
    background: linear-gradient(90deg, rgba(255, 216, 155, 1) 9%, rgba(25, 84, 123, 1) 100%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

// #region utilities 
.bg_opacity {
    background-color: rgb(255 255 255 / 37%);
}

.bg_header {
    background-color: rgb(0 0 0 / 73%);
}

// #endregion utilities 

// #endregion general


.line {
    position: relative;
    height: 25px;
    width: 0;
    animation: flight 10s linear forwards;
}

.line::before {
    content: "";
    position: absolute;
    top: 68%;
    left: 0;
    right: 0;
    border-top: 1px dashed black;
    transform: translateY(-50%);
}

@keyframes flight {
    0% {
        width: 0%;
    }

    100% {
        width: 100%
    }
}



.avatar {
    padding-right: 4rem;
    border: 5px solid white;

    img {
        position: relative;
        left: -15%;
    }

}

.born {
    opacity: 0;
    transform: translateY(-200px);
    animation: bornEntrance 1s ease 0s 1 normal forwards;
}


.study {
    opacity: 0;
    transform: translateY(-200px);
    animation: studyEntrance 1s ease 3s 1 normal forwards;
}

.live {
    opacity: 0;
    transform: translateY(-200px);
    animation: liveEntrance 1s ease 7s 1 normal forwards;
}


@keyframes bornEntrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-200px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes studyEntrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-200px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes liveEntrance {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-200px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }


    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}