@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

// #region general

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 216, 155);
    background: linear-gradient(90deg, rgba(255, 216, 155, 1) 9%, rgba(25, 84, 123, 1) 100%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

// #region utilities 
.bg_opacity {
    background-color: #ffffffba;
}

// #endregion utilities 

#story-animation {
    position: relative;
    height: 230px;
    overflow: hidden;

}

// #endregion general


.me {
    position: absolute;
    bottom: 29%;
    left: 25px;
    height: 50px;
    width: 90%;
    animation: walk 6s linear forwards;

}

.destination {
    position: absolute;
    bottom: 4%;
}

.sicilia {
    left: 0;
    bottom: -52%;
}

.bologna {
    left: 46%;
    bottom: -38%
}

.barcelona {
    right: 2%;
    bottom: -40%
}

.destination_text {
    margin-top: 3.5rem;
    margin-left: -6rem;
}


@keyframes walk {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}