@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

.technology:hover,
img {
    scale: 1.1;
    cursor: pointer;
}

#story-animation {
    position: relative;
    height: 165px;
    overflow: hidden;
}


.me {
    position: absolute;
    bottom: 55%;
    left: 25px;
    height: 50px;
    width: 90%;
    animation: walk 6s linear forwards;

}

.destination {
    position: absolute;
    bottom: 4%;
}

.sicilia {
    left: 0;
    bottom: -58%;
}

.bologna {
    left: 40%;
    bottom: -42%
}

.barcelona {
    right: 2%;
    bottom: -46%
}

.destination_text {
    margin-top: 4rem;
    margin-left: -6rem;
}


@keyframes walk {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}