.back_to_top {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10vh;
    right: 5vh;
    padding-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background-color: var(--backgroung-primary);
}

.back_to_top:hover {
    cursor: pointer;
}